/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== MyCSS ====== */

html {
    box-sizing: border-box;
    max-width: 760px;
    margin: auto;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 15px;
    line-height: 1.5rem;
    padding:1rem;
}

header {
    background-color:#222;
}

.home{
    background-color: #c78c06;
}
nav img{
    width: 10%;
    display:flex;
    background-color: #c78c06;
}

.topnav nav{
    background-color: #222;
    text-align: center;
    padding: 1rem;
    padding-top: 0;
    text-decoration: none;
    font-size: 17px;
}
.nav-list{
    text-decoration: none;
    color:#c78c06;
    font-weight: 400;
    font-size: 18px;
}


#home {
    color:#222;
    background-color: #c78c06;
    display: block;
    width: auto;
}

nav ul li{
    padding: 1rem;
}

.search {
    margin:1rem;
    text-align: left;
    display: flex;
}

#search-bar{
    height:25px; 
    margin:0; 
    padding:10px;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: left;
}

#search-button{
    text-align: center;
    margin:0;
    width:50px;
    height:50px;
    font-size: 25px;
    color: #c78c06;
    border-color: #c78c06;
    background-color: #222;
}

.welcome {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}
.welcome-p{
    position: absolute;
    top: 1%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    margin: 50px 0px;
}

.welcome-p {
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5rem 1rem;
}

h1 {
    font-size:4rem;
    font-weight: 800;
    padding-bottom: 1rem;
    line-height: 6rem;
}
.welcome p {
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

.connect-button{
    width: 35%;
    height: 28%;
    padding: 1rem;
    font-size: 20px;
    color: #222;
    background-color: #c78c06;
    border: none;
}

.aboutus{
    background: #ffe6ac;
    max-width: 760px;
    width:auto;
}

.aboutus img{
    align-items: center;
    width:96%;
    padding: 1rem;
}

.main-header{
    font-size: 50px;
    padding: 1rem;
    height:auto;
    font-weight: bold;
}

.main-header{
    font-size: 45px;
    padding: 1rem;
    height:auto;
    font-weight: bold;
}

.sub-header{
    font-size: 30px;
    padding: 1rem;
    height:auto;
    font-weight: bold;
}

.servises{
    background: #ffe6ac;
    padding-top: 0; 
    margin-top: 1rem;
}

.servises img{
    width: 100%;
    height: auto;
    padding:0;
    margin:0;
}

.servises button{
    width: 30vw;
    height: 10vh;
    margin: 1rem;
    font-size: 20px; 
    color: white;
    background-color: #222;
    border: none;
}